viikko3/12/.gradle
viikko3/12/build
viikko3/HelloCucumber/.nb-gradle/
viikko3/HelloCucumber/build/
viikko3/HelloCucumber/.gradle
viikko3/LoginCucumber/.nb-gradle/
viikko3/LoginCucumber/build/
viikko3/LoginCucumber/.gradle
/viikko4/TyhjaProjekti/build/
/viikko4/TyhjaProjekti/.gradle