viikko3/12/.gradle
viikko3/12/build

viikko3/HelloCucumber/.nb-gradle/
viikko3/HelloCucumber/build/
viikko3/HelloCucumber/.gradle

viikko3/LoginCucumber/.nb-gradle/
viikko3/LoginCucumber/build/
viikko3/LoginCucumber/.gradle

/viikko4/TyhjaProjekti/build/
/viikko4/TyhjaProjekti/.gradle

/viikko4/WebLogin/.nb-gradle/
/viikko4/WebLogin/.gradle/
/viikko4/WebLogin/build/

/viikko5/MockitoDemo/.nb-gradle/
/viikko5/MockitoDemo/build/
/viikko5/MockitoDemo/.gradle/

/viikko5/MatkakorttiMockito/.nb-gradle/
/viikko5/MatkakorttiMockito/build/
/viikko5/MatkakorttiMockito/.gradle/

/viikko5/VerkkokauppaSpring/.nb-gradle/
/viikko5/VerkkokauppaSpring/build/
/viikko5/VerkkokauppaSpring/.gradle/

/viikko5/IntJoukkoSovellus/.nb-gradle/
/viikko5/IntJoukkoSovellus/.gradle/
/viikko5/IntJoukkoSovellus/build/

/viikko6/Laskin/.nb-gradle/
/viikko6/Laskin/build/
/viikko6/Laskin/.gradle/

/viikko6/QueryLanguage/.nb-gradle/
/viikko6/QueryLanguage/build/
/viikko6/QueryLanguage/.gradle/